# APP_ENV=production
APP_ENV = development
PORT=8080

SALT_ROUNDS=XX

# Api authorization
ACCESS_TOKEN_SECRET=XXXXXXXXXX
ACCESS_TOKEN_EXPIRY=XXXXXXXXXX

REFRESH_TOKEN_SECRET=XXXXXXXXXX
REFRESH_TOKEN_EXPIRY=XXXXXXXXXX

GOOGLE_CLIENT_ID=XXXXXXXXXX

OPENROUTER_API_KEY=XXXXXXXXXX
OPENROUTER_BASE_URL=XXXXXXXXXX

CLIENT_URL=XXXXXXXXXX

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=XXXXXXXXXX

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=XXXXXXXXXX
